<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1>Your Ritly</h1>
<div class="row">
    <aside class="span4">
        
		<div class="row">
		  <aside class="span4">
		    <section>
		      <h3>Hi, <%= @user.name %></h3>
		      <h3>You are signed in with <%= @user.email %></h3>
		    </section>
		  </aside>
		</div>

    </aside>
</div>
