<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great|Paytone+One|Grand+Hotel' rel='stylesheet' type='text/css'>
	<link href="http://us.cdn1.123rf.com/168nwm/vova/vova0905/vova090500030/4918595-letter-r-alphabet-symbol--grunge-hand-draw-paint.jpg" rel="shortcut icon">
  <title>Rit.ly</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  

</head>
<body>

<%= yield %>

</body>
</html>
